@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/Open Sans/opensans.woff") format("woff"),
    url("../fonts/Open Sans/opensans.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Bold";
  src:
    url("../fonts/Open Sans Bold/opensansbold.woff") format("woff"),
    url("../fonts/Open Sans Bold/opensansbold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
